@font-face {
    font-family: 'VTB Group';
    src: local('VTB Group'), local('VTBGroup'),
    url('../assets/fonts/VTBGroup/Bold/VTBGroupCond-Bold.ttf') format('truetype'),
    url('../assets/fonts/VTBGroup/Bold/VTBGroupCond-Bold.eot') format('embedded-opentype'),
    url('../assets/fonts/VTBGroup/Bold/VTBGroupCond-Bold.eot?#iefix') format('embedded-opentype'),
    url('../assets/fonts/VTBGroup/Bold/VTBGroupCond-Bold.otf') format('opentype'),
    url('../assets/fonts/VTBGroup/Bold/VTBGroupCond-Bold.woff') format('woff'),
    url('../assets/fonts/VTBGroup/Bold/VTBGroupCond-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'VTB Group';
    src: local('VTB Group'), local('VTBGroup'),
    url('../assets/fonts/VTBGroup/DemiBold/VTBGroupCond-DemiBold.ttf') format('truetype'),
    url('../assets/fonts/VTBGroup/DemiBold/VTBGroupCond-DemiBold.eot') format('embedded-opentype'),
    url('../assets/fonts/VTBGroup/DemiBold/VTBGroupCond-DemiBold.eot?#iefix') format('embedded-opentype'),
    url('../assets/fonts/VTBGroup/DemiBold/VTBGroupCond-DemiBold.otf') format('opentype'),
    url('../assets/fonts/VTBGroup/DemiBold/VTBGroupCond-DemiBold.woff') format('woff'),
    url('../assets/fonts/VTBGroup/DemiBold/VTBGroupCond-DemiBold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'VTB Group';
    src: local('VTB Group'), local('VTBGroup'),
    url('../assets/fonts/VTBGroup/Book/VTBGroupCond-Book.ttf') format('truetype'),
    url('../assets/fonts/VTBGroup/Book/VTBGroupCond-Book.eot') format('embedded-opentype'),
    url('../assets/fonts/VTBGroup/Book/VTBGroupCond-Book.eot?#iefix') format('embedded-opentype'),
    url('../assets/fonts/VTBGroup/Book/VTBGroupCond-Book.otf') format('opentype'),
    url('../assets/fonts/VTBGroup/Book/VTBGroupCond-Book.woff') format('woff'),
    url('../assets/fonts/VTBGroup/Book/VTBGroupCond-Book.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}


@font-face {
    font-family: 'ComicSansMS';
    src: local('ComicSansMS'), local('Comic Sans MS'),
    url('../assets/fonts/ComicSansMS/ComicSansMS.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
